<div id="transition" class="section fp-section active fp-completely" data-anchor="current">
  <div class="row">
    <figure id=bling>
      <img src=img/img1.svg alt class=first>
      <img src=img/img1.svg alt class=first>
      <img src=img/img1.svg alt class=first>
      <img src=img/img1.svg alt class=first>
      <img src=img/img1.svg alt class=first>
      <img src=img/img1.svg alt class=first>
      <img src=img/img1.svg alt class=first>
      <img src=img/img1.svg alt class=first>
      <img src=img/img1.svg alt class=first>
      <img src=img/img1.svg alt class=first>
      <img src=img/img2.svg alt class=second>
      <img src=img/img2.svg alt class=second>
      <img src=img/img2.svg alt class=second>
      <img src=img/img2.svg alt class=second>
      <img src=img/img2.svg alt class=second>
      <img src=img/img2.svg alt class=second>
      <img src=img/img2.svg alt class=second>
      <img src=img/img2.svg alt class=second>
      <img src=img/img2.svg alt class=second>
      <img src=img/img2.svg alt class=second>
    </figure>
  </div>
</div>
