<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {% include head.html %}

  <body>
    <div class="ui padded equal height stackable grid">

    {% include transition.html %}

    <!-- {% include header.html %} -->

    {% include side.html %}

    <div class="nine wide stretched column">

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
      
    </div>

    <!-- {% include footer.html %} -->

    </div>


    {% include js.html %}

    {% include embed-google-analytics.html %}

  </body>

</html>
